:root {
    --mid-blue: #7180AC;
    --dark-blue: #2B4570;
    --light-blue: #A8D0DB;
    --orange: #E49273;
    --dark-tan: #A37A74;
}


html {
    font-size: 14px;
    font-family: 'Orbitron', sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body, div, h2 {
    margin-bottom: 10px;
    font-family: 'Orbitron', sans-serif;
}

@media (max-width: 767.98px) {
    .password-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .password-container input {
        margin-bottom: 5px;
        width: 100% !important;
    }

    .password-container i {
        margin-right: 15px;
        margin-left: 0;
        margin-top: 5px;
    }
    .vendor-category, .actions {
        display: none;
    }

}
@media (max-width: 767.98px) {
    #length-label, #numDigits-label {
        padding-bottom: 21px;
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.vaultguard-logo {
    animation: pulse 20s infinite;
    animation-delay: 20s;
}

.vendor-logo-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.vendor-logo-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .vendor-logo-header {
        display: none;
    }

    .vendor-logo {
        display: none;
    }

    .vendor-name {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .vendor-name img {
            margin-bottom: 10px;
        }
}

/* Ensure the privacy dots (password input) are black and larger */
input[type="password"] {
    color: black;
    font-size: 1.1rem; /* Adjust the size as needed */
}
