@{
    ViewData["Title"] = "Password Guidelines";
}


<div>
	<div class="text-center">
		<p><h1 class="display-4">Welcome! Learn about strong passwords here.</h1></p>
	</div>
	<p>
		Strong passwords are:
		<ul>
			<li>
				<p>
				1.) Long - At least 16 characters are recommended but the longer it is
				the better and more secure it is.
				</p>
			</li>
			<li>
				<p>
				2.) Random - The less common words you have in your password, the harder it is to
				guess and less likely the characters you have picked are in the same order that
				may be found in a common password list that many bad actors use to try to force their
				way into your accounts. For example, a password such as "password123" is not good.
				</p>
			</li>
			<li>
				<p>
				3.) Unique - You should have a different password for every account that you have.
				This ensure that if your password is found in a data breach, the bad actors cannot login 
				on other websites that you may have an account on.
				</p>
			</li>
		</ul>
	</p>
</div>

<div>
	<p>
	Below is an image that shows the amount of time it takes to brute force a password, which means 
	to systematically try every possible combination, based on length and complexity. There are many
	"hashing" methods, which means how the password is scrambled up, but this table represents the
	BCrypt method. There are also many different charts based on hashing methods and ways to attempt
	the passwords. A comman theme among them: the longer the password and more complex, the longer
	it takes them to brute force their way into your account.
	</p>
	<p class="text-center">
		<img src="~/images/PasswordTable.png" width="80%" height="80%" />
	</p>
</div>
<div>
	<p>
		Because of the reasons listed above, this makes a password manager a fantastic place to store
		all of the random passwords it can generate for you. This limits you to only one super strong
		password you have to remember, for the password manager itself, so that you can have all your 
		other accounts stored in one safe place. This also reduces the severity of your data being 
		stolen through a breach at a company like Google.
	</p>
</div>

<div style="display: block; text-align: center;">
	<p>Sources:</p>
    <p><a href="https://www.hivesystems.com/blog/are-your-passwords-in-the-green">https://www.hivesystems.com/blog/are-your-passwords-in-the-green</a></p>
	<p><a href="https://www.cisa.gov/secure-our-world/require-strong-passwords">https://www.cisa.gov/secure-our-world/require-strong-passwords</a></p>
</div>
